core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
node_modules
core/SAFE-FOLDER
core/doc
static/js

templates/post_comment_create.html
myenv/Lib/site-packages/
project_4.code-workspace
