@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,400;0,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');


/* Global */
* {
/* outline: 1px rgb(87, 105, 59) solid; */
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
/* background-color: rgb(242, 243, 243); */
background-image: linear-gradient(
to bottom,  
rgb(211, 214, 231),
rgb(224, 224, 224), 
rgb(211, 214, 231));


/* color:white; */
font-family: 'Quattrocento', serif;
/* font-family: 'Source Serif Pro', serif; */
}

/* --- CSS GROUPS (COMMON RULES) --- */
.logged-out-header,
.landing-text,
.label-username,
.label-password,
.button-logged-out,
.input-username,
.input-password,
.signup-header,
.label-email,
.input-signup-username, 
.input-signup-email, 
.input-signup-password,
.input-signup-password-confirmation,
.text-already-registered,
.link-already-registered,
.button-signup {
text-align: center;
margin: 0.3em 0;
font-size: 1.5rem;
color:white;
}
.input-username,
.input-password,
.button-logged-out,
.button-signup{
color:black;
} 



/* --- EFFECT: HIGHLIGHT --- */ 
/* .current a,
.landing-text h2 {
filter: drop-shadow(2px 2px 2px rgba(155, 141, 13, 0.9));
background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-image: linear-gradient(to right,  rgb(11, 238, 11), rgb(145, 235, 0), rgb(17, 230, 17));
} */

/* --- EFFECT: HOVER --- */ 
.navbar a:hover,
.logotype:hover,
#post-list-section a:hover {
color: #05ffee;}
.newsletter-button:hover {
background-color: #05f7ff;
color: black;}
.contact-button:hover,
.social-links li a i:hover {
background: greenyellow;
color: black;}


/* LOGGED-OUT */
.logged-out-section-container {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 1em 10em;
padding: 0em;

}
.logged-out-section {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1em;
margin: 1em;
padding: 1em;
z-index: 2;
filter: drop-shadow(0px 3px 12px rgb(255, 239, 8));
border: double 0.5em transparent;
border-radius: 30px;
background-image: linear-gradient(rgb(1, 36, 82),rgb(23, 52, 90)), 
linear-gradient(to bottom,
rgba(8, 85, 201, 0.5),
rgba(238, 255, 0, 0.3),
/* rgba(185, 3, 64, 0.5), */
rgba(31, 91, 204, 0.5));
background-origin: border-box;
background-clip: padding-box, border-box;
}
.form-logged-out {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
}

/* SIGNUP */
.signup-section-container {

display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 2em 0em;
padding: 0em;

}
.signup-section {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1em;
margin: 1em;
padding: 3em;
z-index: 2;
filter: drop-shadow(0px 3px 12px rgb(255, 239, 8));


border: double 0.5em transparent;
border-radius: 30px;
background-image: linear-gradient(rgb(1, 36, 82),rgb(23, 52, 90)), 
linear-gradient(to bottom,
rgba(8, 85, 201, 0.5),
rgba(238, 255, 0, 0.3),

rgba(31, 91, 204, 0.5));
background-origin: border-box;
background-clip: padding-box, border-box;

}
.form-signup {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
}









/* -------------- CSS MAIN RULES START -------------- */


/* HEADER - NOT LOGGED IN */
.header-container-not-logged-in {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
background-color: rgba(40, 108, 235, 0.8);
height: 3.8em;
padding: 0 1.5em;
}

/* HEADER - LOGGED IN */
.header-container {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
/* align-items: center; */
background-color: rgba(40, 108, 235, 0.8);
height: 3.8em;
padding: 0.5em 2em;
}


.logotype,
.link-signup{
text-decoration: none;
color:white;
font-size: 1.5rem;
}
.logotype{
display: flex;
justify-content: start;
align-items: center;
}
.logo {

width: 1.7em;

}

.navbar {
height: auto;
padding: 0em;
width: 100%;

}
.navbar-list {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
gap: 2em;
list-style: none;
}
.navbar-list-item {

display: flex;
justify-content: center;
align-items: center;
width: 42px;
height: 42px;
border-radius: 50%;
background-color: rgb(198, 254, 254);
}
.navbar-link {
color:black;
}


/* LANDING (HERO) */
.landing-container {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
/* margin: 0.5em 0; */

}
.landing-image {
padding: 0;
height: auto;
width: 100%;
aspect-ratio: 2.1;
background-image: url('/media/img/bg_placeholder.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.landing-image::before {
content: "";
position: absolute;
height: auto;
width: 100%;
aspect-ratio: 2.1;
background-color: rgba(0, 0, 0, 0.7);
z-index: 1;
}
.landing-content {

display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;

padding: 0em 10em;
margin: 5em 10em;
/* background-color: rgb(0, 0, 0); */
}
.landing-text {
font-size:3rem;
z-index: 2;
}
/* ---------- USER FEED ---------- */

.user-feed-section{
       
display:flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
/* margin: 2em 40em; */
padding: 1em;
border: solid 1px;
width: 100%;
}
.user-feed-header-section {

display:flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
gap: 1em;
width: 100%;
/* padding: 0 5em; */
}
.user-feed-profile-image {
width: 200px;
height: 200px;
border-radius: 50%;
border: 1px solid #000000;
}
.user-feed-current-date {
font-size: 1.5rem;
font-family: 'Source Serif Pro';
}



/* ------- CREATE POST (USER FEED) ------- */



/* ---------- USER PROFILE ---------- */
.profile-details-container {
display:flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 0em;
/* margin: 1em 40em; */
padding: 0 1em;
}
.profile-details-section {
display:flex;
flex-wrap: wrap;
flex-direction: column;
width: 100%;
/* padding: 0.5em 0.5em; */
background-color: white;
filter: drop-shadow(0px 1px 3px black);
background-clip: text;
}
.profile-details {
display:flex;
flex-wrap: wrap;
flex-direction: column;
gap: 0.2em;

}
.profile-detail-header {

font-size: 2rem;
font-family: 'Roboto';
font-weight: 700;
letter-spacing: 0.02em;
margin: 0.5em 0;
}
.bio-label,
.gender-label,
.profession-label {
font-size: 1.1rem;
font-family: 'Source Serif Pro';
font-weight: 700;
}
.bio-text,
.gender-text,
.profession-text  {
font-size: 1.1rem;
font-family: 'Source Serif Pro';
}
.dropdown-menu {
display: none;
position: absolute;
background-color: white;
min-width: 150px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
}
.dropdown-menu a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown-menu a:hover {
background-color: #ddd;
}
.edit-pencil,
.edit-pencil-bio {
text-decoration: none;
float:right;
color:rgb(0, 47, 255);
}
.profile-images-section {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
}
.profile-image {
/* display: none; */
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 200px;
height: 200px;
border-radius: 50%;
border: 2px solid #0ae967;
z-index: 2;
}
.profile-banner {
/* display: none; */
width: 120em;
height: 15em;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
border-right: 1px solid;
border-left: 1px solid;
border-bottom: 1px solid;
color:black;
z-index: -10;
}

/* ---------- POSTS ---------- */
.post-author-image{
width: 80px;
height: 80px;
border-radius: 50%;
}

/* -- COMMENTS SECTION --  */

#comment-create-section {
text-align: center;
}

#comment-content {
width: 100%;
}





/* IMAGE UPLOADER */

.profile-image-updater-container {
display:flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1em;
}
.image-updater-section{
width: 100%;
outline:rgba(31, 91, 204, 0.5) solid 3px;
}

.image-updater-section,
.image-updater-section label {
/* text-align: end; */


display:flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
}

.pim-header{
color:green;
width: 100%;
}
.pim-form{
/* width: 100%; */

}
.pim-button{
/* width: 100%; */

}

#uploaded-image {
/* display: none; */
width: 130px;
height: 130px;
border-radius: 50%;
border: 3px solid black;
}

#uploaded-banner {
      
width: 600px;
height: 150px;

border: 3px solid black;

}





/* LOGGED-OUT */
.logged-out-section-container {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
/* outline: red 5px dotted; */
/* background-color: rgb(40, 108, 235); */
margin: 0 1em;
padding: 1em;
}

.logged-out-section {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
/* outline: rgb(236, 250, 35) 5px dotted; */
}

.logged-out-header,
.label-username,
.label-password {

color:white;
}

.form-logged-out {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
}

.input-username,
.input-password {
width: 100%;
/* outline: rgb(236, 250, 35) 5px dotted; */
}



.comments {
height: 10em;
}
.comment-container {
background-color:brown;
height: 10em;
}


.hide {
display: none;
}

.show {
display: flex;
}






/* FOOTER */
.footer-container {  
display: none;
/* display: flex;
flex-direction:row-reverse;
justify-content: space-evenly;
padding: 1em 0;
border-top: 4px solid; */
}
.social-links {
display: flex;
justify-content: center;
align-items: center;
list-style: none;
gap: 0.4em;
}
.social-links a{
font-size: 3.2rem;
}
.social-list-item {
display: flex;
justify-content: center;
align-items: center;
padding:1em;
}
.social-links-item {
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
}
.social-links-item-bg{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
width: 70px;
height: 70px;
padding: 0.3em;
border-radius: 50%;
color: white;
background-color: rgb(34, 2, 214);
transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
}

/* MEDIA QUERIES */ /* MEDIA QUERIES *//* MEDIA QUERIES */ /* MEDIA QUERIES */
/* MEDIA QUERIES */ /* MEDIA QUERIES *//* MEDIA QUERIES */ /* MEDIA QUERIES */
/* MEDIA QUERIES */ /* MEDIA QUERIES *//* MEDIA QUERIES */ /* MEDIA QUERIES */
/* MEDIA QUERIES */ /* MEDIA QUERIES *//* MEDIA QUERIES */ /* MEDIA QUERIES */

/* MEDIA QUERIES */ /* MEDIA QUERIES *//* MEDIA QUERIES */ /* MEDIA QUERIES */

/* MEDIA QUERIES */ /* MEDIA QUERIES *//* MEDIA QUERIES */ /* MEDIA QUERIES */

/* MEDIA QUERIES */ /* MEDIA QUERIES *//* MEDIA QUERIES */ /* MEDIA QUERIES */

@media screen and (min-width: 0em) and (max-width: 119em){ 


/* HEADER */
.header-container{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
/* align-items: center; */
padding: 0.3em 0;

background-image: linear-gradient(
to top,
#bdc3c7 0%,
#c0c5c9 25%,
#e0e0e0 50%,
#c0c5c9 75%,
#bdc3c7 100%
);
border: 1px solid;

}
.navbar {
width:100%;

}
.navbar-list {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 0.7em;

}
.navbar-list-item {
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
color:white;
width: 42px;
height: 42px;
border-radius: 50%;
background-color: rgb(198, 254, 254);
}
.navbar-link {

font-size: 1.2rem;
color:black;
}
.logotype{
display: flex;
justify-content: start;
align-items: center;
}
.logo {

width: 1.7em;

}

/* LANDING SECTION */
.landing-container {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
}
.landing-image {
height: 20em;
width: 100%;
background-size: cover;
background-position: center;
}
.landing-content {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0 2em;
margin: 2em 1em;
background-color: rgb(40, 108, 235);
}
.landing-text {
font-size: 1rem;
color:white;
}

/* ---------- USER FEED ---------- */

.user-feed-section{
display:flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0;
padding: 0.2em;
/* outline: dotted red 5px; */
/* border-right: solid 1px;
border-left: solid 1px;
border-bottom: solid 1px; */
width: 100%;
}
.user-feed-header-section {

display:flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
gap: 1em;
width: 100%;
margin: 0.5em 0;
padding: 0;
}
.user-feed-profile-image {
width: 80px;
height: 80px;
border-radius: 50%;
border: 1px solid #000000;
}
.user-feed-current-date {
font-size: 1.5rem;
font-family: 'Source Serif Pro';
}

/* CREATE POST (USER FEED) */

#post-create-section {

display: flex;
/* flex-direction: column; */
/* flex-wrap: wrap; */
justify-content: center;
align-items: center;
margin: 1em;
padding: 0em;
outline:solid 1px rgb(14, 42, 201);
}

.post-create-form {
width:100%;
outline:solid 6px rgb(32, 78, 50);
}

.post-create-title{
font-family: 'Oxygen';
height: 2.5em;
font-size: 1.3rem;
padding: 0em;
}
.post-create-title,
.post-create-text {
width: 100%;
text-align: center;
}



.post-create-text {
height: 10em;
/* font-size: 1rem; */
color:black;
font-family: 'Oxygen';
}
.post-create-text::placeholder {

/* text-align: center; */
font-style: italic;
letter-spacing: 0.02em;
line-height: 1.5em;
font-size: 1.2rem;
font-family: 'Oxygen';
color:rgba(0, 0, 0, 0.776);
}
.post-create-btn {
font-size: 1.2rem;
font-family: 'Oxygen';
font-weight: 400;
font-style: italic;
width:100%;
}  


.post-create-option-section {

display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 0;
width: 100%;
padding: 0.5em 0;
background-color:rgb(98, 200, 213);
}
.post-create-option-icon {
font-size: 1.5rem;
}

#friend-list-section {
        border: 3px rgb(6, 255, 60) dashed;
        text-align: start;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        gap: 0.5em;
width: 100%;
padding: 0.5em 0;
background-color: rgb(50, 202, 195);
}
#friend-list-section h2 {
        font-size: 1.1rem;
        background-color: black;
        color: white;
        
}


/* ----- POST DETAILS -----  */

.post {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-items: center;
/* margin: 0em 0.5em; */
/* height: 20em; */
background-color: white;
border: 1px solid grey;
filter: drop-shadow(0px 1px 3px black);
background-clip: text;
}

.post-wrapper {
margin: 1em;
}

.post-comment-section {
margin:0  1em;
}

.post-comment {
display: flex;
flex-wrap: wrap;
/* flex-direction: column; */
/* justify-content: center; */
align-items: start;

padding: 1em;

background-color: rgb(221, 212, 230);
border: 1px solid grey;
filter: drop-shadow(0px 1px 3px black);
background-clip: text;
}

.post-comment-author-image{
width: 80px;
height: 80px;
border-radius: 50%;
}

.post-comment-time {
/* width: 100%; */
margin: 0.5em 0;
}
.post-comment-content {
width: 100%;
height: 3em;
margin: 1em 0;
padding: 0.3em;
border: 1px solid black;

}



.post-like-button{
font-size: 1rem;
}
#post-like-count{
margin: 0 0.5em;
}


.post-details {
display:flex;
flex-direction: column;
justify-content: center;
gap: 0.5em;
/* outline: green 2px dashed; */
width: 100%;

}
.post-details-secondary {
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 0.5em 0;
width: 100%;
border-top: 2px solid;
border-bottom: 2px solid;
border-image: linear-gradient(
to left,
#16a5be 10%,
rgb(54, 233, 9) 60%,
#16a5be 70%
) 1 2 10%;

}



#post-details-lc-section {
display:flex;
flex-direction: row;
flex-wrap: wrap;
gap: 0.5em;
margin: 0.5em 0;
justify-content: center;
align-items: center;
width: 100%;
}
#post-content-section {
display:flex;
flex-direction: row;
flex-wrap: wrap;
padding: 0 1em;
justify-content: center;
align-items: center;
width: 100%;
}

.post-title {
margin: 0.2em 0;
width: 100%;
font-size: 1.2rem;

}
.post-author {
/* width: 100%; */
font-size: 1.5rem;
}
.post-author-image{
width: 80px;
height: 80px;
border-radius: 50%;
margin: 0.5em 0;
}
.post-time {
width: 100%;

}
.post-content {
        text-align: start;
width: 100%;
height: 5em;
padding: 0.5em;
margin: 0.5em 0;
border: 1px solid black;
}



#post-edit-section {
display: flex;
flex-direction: row;
justify-content:space-between;
width: 100%;
padding: 1em;

}
.post-delete-btn,
.post-edit-btn  {
padding: 0.2em;
font-size: 1.3rem;
}







/* ---------- USER PROFILE ---------- */
.profile-details-container {

display:flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0;
/* padding: 1em; */
/* gap: 0.5em; */
}
.profile-details-section {
display:flex;
flex-wrap: wrap;
flex-direction: column;
width: 100%;
padding: 0.5em 0.5em;
background-color: white;
filter: drop-shadow(0px 1px 3px black);
background-clip: text;
}
.profile-details {

display:flex;
flex-wrap: wrap;
flex-direction: column;

/* gap: 0.2em; */
margin:0;
padding:0;
}
.profile-detail-header {

font-size: 2rem;
font-family: 'Roboto';
font-weight: 700;
letter-spacing: 0.02em;
margin-bottom:0.5em;
padding:0;
/* margin: 0.5em 0; */
}
.bio-label,
.gender-label,
.profession-label {
font-size: 1.1rem;
font-family: 'Source Serif Pro';
font-weight: 700;
}
.bio-text,
.gender-text,
.profession-text  {
font-size: 1.1rem;
font-family: 'Source Serif Pro';
}
.dropdown-menu {
display: none;
position: absolute;
background-color: white;
min-width: 150px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
}
.dropdown-menu a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown-menu a:hover {
background-color: #ddd;
}
.edit-pencil,
.edit-pencil-bio {
text-decoration: none;
float:right;
color:rgb(0, 47, 255);
}
.profile-images-section {

position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* margin-bottom:1em; */
padding:0;
/* margin: 1em 0; */

}
.profile-image {
        /* display: none; */
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 130px;
height: 130px;
border-radius: 50%;
border: 2px solid #0ae967;
z-index: 2;
}
.profile-banner {
        /* display: none; */
width: 20em;
height: 9em;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
border-right: 1px solid;
border-left: 1px solid;
border-bottom: 1px solid;
color:black;
z-index: -10;
}




/* -- POST COMMENTS - SECTION --  */
#post-comment-create-section {
outline: solid 1px red;
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;

}
.post-comment-create-form{
width:100%;

}
.post-comment-create-input{
text-align: center;
height: 3em;
width: 100%;
}
.btn-post-comment-create{
width:100%;
text-align: center;
}















/* IMAGE UPLOADER */

.profile-image-updater-container {

display:flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1em;
}
.image-updater-section{
width: 100%;
outline:rgba(31, 91, 204, 0.5) solid 3px;
}

.image-updater-section,
.image-updater-section label {
/* text-align: end; */


display:flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
}

.pim-header{
color:green;
width: 100%;
}
.pim-form{
/* width: 100%; */

}
.pim-button{
/* width: 100%; */

}

#uploaded-image {
/* display: none; */
width: 130px;
height: 130px;
border-radius: 50%;
border: 3px solid black;
}






/* LOGGED-OUT */
.logged-out-section-container {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
/* outline: red 5px dotted; */
/* background-color: rgb(40, 108, 235); */
margin: 0 1em;
padding: 1em;
}

.logged-out-section {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
/* outline: rgb(236, 250, 35) 5px dotted; */
}

.logged-out-header,
.label-username,
.label-password {

color:white;
}

.form-logged-out {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
}

.input-username,
.input-password {
width: 100%;
/* outline: rgb(236, 250, 35) 5px dotted; */
}



.hide {
display: none;
}

.show {
display: flex;
}


}






@media screen and (min-width: 25.875em) and (max-width:119em){

}
@media screen and (min-height: 50.75em) and (max-width:119em){

}
@media screen and (min-width: 48em) and (max-width:119em){

}
@media screen and (min-width: 62em) and (max-width:119em) {

}




