/* File: styles_media_queries.css */

/* Targeted Screen Size: Media Queries */

/* Used CSS Attributes: Any / All   */


@media screen and (min-width: 0em) and (max-width: 119em){
/* 1) Header (Logged-In) */
#header-section {
padding: 0.3em 0.5em;
}
#navbar-link-stack-icon-user {
top: 0.05em;
left: 0.13em;
}
#navbar-link-stack-icon-search {
top: 0.24em;
right: 0.12em;
}
/* 2) User Profile */
#user-profile-details-section {
margin: 0 1em;
}
.user-profile-details {
gap: 1em;
padding: 0.5em 1em;
}
#user-profile-images-section {
margin-bottom: 1em;
}
.profile-detail-header {
font-weight: 700;
letter-spacing: 0.02em;
margin-bottom:0.5em;
padding:0;
}
.edit-pencil-bio-container {
justify-content:flex-end;
border-bottom: 1px solid rgb(0, 0, 0);
}
.edit-pencil-bio{
position: absolute;
top: 0.2em;
right: 0.4em;
}
.edit-pencil {
float:right;
}
.dropdown-menu {
min-width: 150px;
}
.dropdown-menu a {
padding: 12px 16px;
}
#user-profile-delete-and-send-friend-section {
margin: 1.5em 0em;
}
.delete-user-btn,
.add-friend-btn {
padding: 0.5em;
border-radius: 5%;
}
.delete-user-btn{
border: 2px dashed red;
}
/* 3) User Feed */
#user-feed-section{
margin: 0em;
padding: 0em;
border-right: solid 1px;
border-left: solid 1px;
border-bottom: solid 1px;
}
#user-feed-header-section {
justify-content: center;
align-items: center;
gap: 2em;
margin: 0.5em 0;
padding: 0;
width: 100%;
}
/* 4) User Search */
#user-search-section{
padding: 0 1em;
margin: 0.5em;
}
#user-search-results {
margin: 1em 0;
padding: 0.5em;
gap: 2.5em;
}
/* 5) User Deletion */
#user-deletion-section {
margin: 0.5em;
padding: 1.5em 0.5em;
gap: 1em;
}
#user-deletion-form {
margin: 0 0.2em;
}
.user-deletion-yes-btn,
.user-deletion-no-btn{
margin:  0;
padding: 1em;
}
.user-deletion-no-btn{
margin: 3em 0;
}
/* 6) Friend List */
#friend-list-section {
margin: 0.5em;
padding: 1em;
gap: 1em;
}
#friendship-section {
gap: 0.8em;
padding: 0.5em;
outline: 1px dotted rgb(0, 0, 0);
}
.friend-name{
line-height: 2rem;
}
.friend-request-header {
margin:0.2em 0;
border-radius: 10px / 20%;
}
/* 7) Image Upload */
#upload-profile-images-section {
margin: 0.5em;
}
/* 8-A) Post Details & Post List */
#post-list-section {
gap: 2em;
margin: 2em 1em;
}
.post {
padding: 1em 0em;
}
#post-like-btn,
#post-like-count{
margin: 0 1em;
}
#post-details-lc-section {
gap: 0em;
padding: 0.5em 0;
margin: 0;
}
#post-content-section {
padding: 0.5em 0.8em;
}
.post-content {
text-align: start;
line-height: 1.5rem;
padding: 0.5em;
}
.post-title {
margin: 0.2em 0;
}
#post-details-edit-section {
padding: 0em 1.5em;
margin: 0em;
}
.post-delete-btn,
.post-edit-btn  {
padding: 0.2em;
}
/* 8-B) Post Create */
#post-create-section {
margin: 0 1em;
}
.post-create-form {
margin: 0;
}

.post-create-text-content::placeholder {
letter-spacing: 0.02em;
line-height: 1.5em;
padding: 0.2em;
}
.post-create-btn {
padding: 0.2em;
}
/* 8-C) Post Edit Page */
.post-edit-page-info,
.post-edit-page-header {
margin: 0;
padding: 0; 
}
#post-edit-page-section {
margin: 0;
padding: 0 1em; 
}
.post-being-edited { 
margin: 0.5em 0;
}
.post-being-edited-title,
#post-being-edited-content-section {
margin: 0.5em 0;
padding:0em;
}
.post-being-edited-save-btn {
margin-top: 0em;
margin: 0.5em 0; 
}
/* 8-D) Post Pagination */
#pagination-section {
margin: 1em 0;
gap: 1em;
}
.current-page {
margin: 0.5em 0;
}
.first-page,
.last-page,
.previous-page,
.next-page {
margin: 1.5em 0;
}
/* 8-E) Post Comments */
#post-comment-create-section {
padding: 0.5em 2em;
margin: 1em 0;
}
.post-comment-create-btn{
margin-top: 2em;
padding: 0.6em;
}
.post-comment {
padding: 0.5em;
border-radius: 20px / 10%;
}
.post-comment-details {
gap: 0.8em;
padding: 0.5em 0em;
}
.post-comment-content {
line-height: 1.5rem;
margin: 0;
padding: 0.5em;
}

/* --|-- LOGGED-OUT SECTION --|-- */

/* 9) Header (Logged-Out) */
#header-section-login{
padding: 0.3em 0.5em;
}
/* 10) Signup */
#signup-section {
margin: 0.2em 0;
}
#signup-section form{
gap: 0.5em;
margin: 0.5em 3em;
}
.signup-btn {
margin: 0.8em 0;
}
/* 11) Login */
.login-section-container {
gap: 0em;
margin: 0em 0em;
}
#login-section {
gap:0;
margin: 0 2em;
padding: 1em 0em;
}
.login-signup-link {
margin: 0.5em 2.5em;
padding: 0.1em;
}
.login-forgot-password-link {
margin: 0.5em 1em;
padding: 0.1em;
}
.login-form {
gap: 0.5em;
margin: 0 2em;
}
.login-btn {
width: 60%;
padding: 0.2em 0;
margin: 0.5em 0;
}
/* 12) Password Reset */
#password-reset-section {
margin: 1em 0;
padding:0;
}
#password-reset-section form {
gap: 1em;
margin: 0 2em;
}
.password-reset-return-link {
margin: 1em 0;
}
.password-reset-btn {
margin: 0.5em 0;
padding: 0.3em;
}
/* 13) Footer */
.footer-container {
padding: 0;
}
.social-links {
gap: 0.8em;
}
.social-list-item {
padding:0.2em;
}
.social-links-item-bg{
padding: 0.21em;
}
}

@media screen and (min-width: 23.438em) and (max-width:119em){
/* 2) User Profile */
.profile-image {
top: 48%;
}
/* 3) User Feed */
#user-feed-header-section {
gap: 5em;
}
/* 4) User Search */
#user-search-section{
padding: 0 2em;
}
/* 5) User Deletion */
#user-deletion-section {
margin: 0.5em;
padding: 2em 1em;
}
#user-deletion-form {
margin: 0.5em 0.2em;
}
.user-deletion-no-btn {
margin-bottom: 2em;
}
/* 6) Friend List */
#friend-list-section {
gap: 1.5em;
padding: 1em 1em;
padding-top: 1.2em;
}
/* 10) Signup */
#signup-section {
margin: 0.2em 0;
}
#signup-section form{
gap: 0.5em;
margin: 1.3em 3em;
}
.signup-btn {
margin: 0.2em 2em;
padding: 0.2em;
}
/* 11) Login */
.login-section-container {
margin: 0.5em 0em;
}
#login-section {
margin: 0.5em 2em;
gap: 1em;
}
.login-signup-link {
margin: 0.5em 2.5em;
}
.login-forgot-password-link {
margin: 0.5em 1em;
}
/* 12) Password Reset */
#password-reset-section {
margin: 1em 0;
}
#password-reset-section form {
margin: 0 3em;
gap: 1.5em;
}
/* 13) Footer */
.social-links {
gap: 2em;
}
}

@media screen and (min-width: 25.875em) and (max-width:119em){
/* 2) User Profile */
.profile-image {
top: 49%;
}
/* 3) User Feed */
#user-feed-header-section {
gap: 3em;
}
/* 5) User Deletion */
.user-deletion-no-btn {
margin-bottom: 5em;
}
/* 6) Friend List */
#friend-list-section {
gap: 1.8em;
}
/* 8-A) Post Details & Post List */
.post {
padding: 1em 0em;
}
/* 8-C) Post Edit Page */
#post-edit-page-section {
margin: 3em 2em;
padding: 0em;
}
.post-edit-title {
margin: 0.2em 0;
}
/* 8-D) Post Pagination */
#pagination-section {
gap: 0.5em;
margin: 2em 0;
padding: 0.5em 0;
border-radius: unset;
}
#pagination-section a,
#pagination-section span {
margin: 0;
}
/* 8-E) Post Comments */
.post-comment-details {
padding: auto 3em;
}
/* 10) Signup */
#signup-section {
margin: 0.5em 1em;
padding: 0.3em 0;
}
#signup-section form{
gap: 0.5em;
margin: 0.2em 3em;
}
.signup-btn {
padding: 0.5em 0.3em;
}
/* 11) Login */
.login-section-container {
margin: 1em 0em;
}
.login-form{
gap: 1em;
}
/* 12) Password Reset */
#password-reset-section {
margin: 1em 0;
}
#password-reset-section form {
margin: 0.5em 3em;
gap: 1.8em;
}
/* 13) Footer */
.footer-container {
padding: 0;
}
.social-list-item {
padding:0.4em;
}
.social-links {
gap: 1em;
}
.social-links-item-bg{
padding: 0.2em;
}
}

@media screen and (min-height: 50.75em) and (max-width:119em){
/* 2) User Profile */
#user-profile-delete-and-send-friend-section {
margin: 1.7em 0em;
}
/* 5) User Deletion */
#user-deletion-section {
margin: 2em 0.5em;
padding: 2em 0.5em;
}
#user-deletion-form {
margin: 3em 0.2em;
}
.user-deletion-no-btn {
margin-bottom: 6em;
}
/* 6) Friend List */
#friend-list-section {
gap: 2em;
padding: 2em 1em;
}
/* 8-C) Post Edit Page */
#post-edit-page-section {
margin: 2em 1.5em;
}
.post-edit-time,
.post-edit-title,
.post-edit-author,
.post-edit-page-info,
.post-edit-page-header {
margin-bottom: 0.2em;
margin-top: 0.8em;
}
/* 8-E) Post Comments */
.post-comment {
padding: 0.5em 1em;
}
/* 10) Signup */
#signup-section {
margin: 0.5em 1em;
}
#signup-section form{
gap: 1em;
}
/* 11) Login */
.login-section-container {
margin: 1em 0em;
}
.login-form{
gap: 1em;
padding: 1em 0;
}
/* 12) Password Reset */
#password-reset-section {
margin: 1em 0;
}
#password-reset-section form {
margin: 2em ;
gap: 1.5em;
}
}

@media screen and (min-width: 37.5em) and (max-width:119em){
/* 1) Header (Logged-In) */
#header-section{
padding: 0.3em 0.5em;
}
#navbar-link-stack-icon-search {
top: 0.05em;
right: -0.02em;
}
#navbar-link-stack-icon-user {
top: 0.05em;
left: -0.06em;
}
/* 2) User Profile */
#user-profile-details-section {
margin: 1em 3em;
}
/* 3) User Feed */
#user-feed-header-section {
gap: 5em;
}
/* 4) User Search */
#user-search-section{
margin: 2em 5em;
}
/* 5) User Deletion */
#user-deletion-section {
margin: 0.5em;
padding: 2em 2em;
}
#user-deletion-form {
margin: 2em 0.2em;
}
.user-deletion-no-btn {
margin-bottom: 3em;
}
/* 6) Friend List */
#friend-list-section {
gap: 1.5em;
padding: 1.5em 5em;
}
.friend-name {
line-height: 3rem;
}
/* 7) Image Upload */
.upload-profile-images-header {
margin: 0.5em 0;
}
.upload-profile-images-form{
margin: 0.5em 0;
}
.upload-profile-images-form a {
margin: 2em 0;
padding: 0.2em 0.5em;
}
.upload-profile-images-form p{
margin: 0.5em 0;
gap: 0.5em;
}
.upload-profile-images-form label{
gap: 2em;
}
#upload-profile-images-save-btn {
padding: 0.8em;
border-radius: 10px / 10%;
}
/* 8-A) Post Details & Post List */
#post-list-section {
margin: 2em 3em;
}
.post-content {
line-height: 2.3rem;
}
/* 8-B) Post Create */
#post-create-section {
margin: 0 3em;
}
.post-create-btn {
padding: 0.4em;
}
/* 8-C) Post Edit Page */
#post-edit-page-section {
margin: 2em 6em;
}
.post-being-edited {
margin: 0em;
}
/* 8-E) Post Comments */
.post-comment-content {
line-height: 2.5rem;
}
/* 10) Signup */
#signup-section {
margin: 0.1em 1em;
padding: 0;
}
.signup-header {
padding: 0.2em 0;
margin: 0em 0em;
}
#signup-section form {
gap: 0.8em;
margin: 0.2em 8em;
}
/* 11) Login */
.login-section-container {
margin: 1em 1em;
}
.login-form {
gap: 1em;
padding: 1em 4em;
}
/* 12) Password Reset */
#password-reset-section {
margin: 0.5em 0;
}
#password-reset-section form {
margin: 0.5em 6em;
gap: 1.4em;
}
/* 13) Footer */
.social-links {
gap: 2em;
}
.social-list-item {
padding:0.3em;
}
.social-links-item-bg{
padding: 0.23em;
}
}

@media screen and (min-width: 48em) and (max-width:119em){
/* 1) Header (Logged-In) */
#header-section{
padding: 0.3em 0.5em;
}
#navbar-link-stack-icon-search {
top: 0.05em;
left: 0.6em;
}
#navbar-link-stack-icon-user {
left: -0.2em;
}
/* 2) User Profile */
.user-profile-details {
padding: 2em 1.2em;
}
.profile-detail-bio-text {
width: auto;
height: auto;
margin: 0.5em 0;
}
.edit-pencil-bio{
top: 0.3em;
}
/* 3) User Feed */
#user-feed-header-section {
gap: 6em;
}
/* 4) User Search */
#user-search-section{
margin: 2em 5em;
}
#user-search-results {
padding: 1em;
gap: 5em;
}
/* 5) User Deletion */
.user-deletion-no-btn {
margin: 0.3em 0;
margin-bottom: 3.5em;
}
/* 6) Friend List */
#friend-list-section {
gap: 1.5em;
padding: 2em 5em;
margin: 1em 2em;
}
.friend-name {
line-height: 4rem;
}
/* 7) Image Upload */
.upload-profile-images-header {
margin: 0.5em 0;
}
#upload-profile-images-save-btn {
padding: 0.8em;
}
/* 8-A) Post Details & Post List */
#post-like-count{
margin: 0 0.5em;
}
#post-content-section {
padding: 1em 3em;
}
.post-content {
padding: 0.2em 0.3em;
}
#post-details-edit-section {
margin: 0.5em 0em;
padding: 0.5em 1em;
}
.post-delete-btn,
.post-edit-btn  {
padding: 0.2em;
}
/* 8-B) Post Create */
.post-create-text-content::placeholder {
letter-spacing: 0.01em;
line-height: 3em;
}
/* 8-C) Post Edit Page */
#post-edit-page-section {
margin: 2em 6em;
}
.post-being-edited {
margin: 0em;
}
/* 8-D) Post Pagination */
#pagination-section {
padding: 0.5em;
margin: 2em 0;
}
.first-page,
.last-page,
.previous-page,
.next-page{
margin: 1em 0;
}
/* 10) Signup */
#signup-section {
margin: 0.3em 1em;
}
#signup-section form{
gap: 1em;
margin: 0.2em 8em;
}
.signup-btn {
margin:0.1em 0;
}
/* 11) Login */
.login-section-container {
margin: 2em;
}
.login-form{
gap: 1.5em;
}
.login-form-password,
.login-form-username {
margin: 0 5em;
}
/* 12) Password Reset */
#password-reset-section {
margin: 0.5em 0;
}
#password-reset-section form {
margin: em 6em;
gap: 2em;
}
/* 13) Footer */
.social-links {
gap: 2em;
}
.social-list-item {
padding:0.5em;
}
.social-links a{
font-size: 4rem;
}
}

@media screen and (min-width: 62em) and (max-width:119em) {
/* 1) Header (Logged-In) */
#header-section{
padding: 0.5em 1em;
}
#navbar-link-stack-icon-search {
top: -0.2em;
left: 0.3em;
}
#navbar-link-stack-icon-user {
top: -0.2em;
left: -0.4em;
}
/* 2) User Profile */
#user-profile-details-section {
margin: 1em 3em;
}
.user-profile-details {
padding: 2em 1.2em;
gap: 2em;
}
.profile-detail-bio-text {
margin: 0.5em 0;
}
.edit-pencil-bio{
position: absolute;
top: 0.6em;
}
/* 4) User Search */
#user-search-section{
padding: 0 8em;
}
#user-search-results {
padding: 2em 1em;
gap: 5em;
}
/* 5) User Deletion */
#user-deletion-section {
margin: 1em;
padding: 1em 6em;
}
.user-deletion-header{
line-height: 5rem;
}
.user-deletion-no-btn {
margin-bottom: 6em;
}
/* 6) Friend List */
#friend-list-section {
gap: 2em;
margin: 2em;
padding: 2em 7em;
}
.friend-name {
line-height: 6rem;
}
/* 7) Image Upload */
.upload-profile-images-header {
margin: 0.5em 0;
}
.upload-profile-images-form{
margin: 0.5em 0;
}
.upload-profile-images-form a {
margin: 2em 0;
padding: 0.2em 0.5em;
}
.upload-profile-images-form p{
margin: 0.5em 0;
gap: 0.5em;
}
#id_profile_image,
#id_banner_image  {
margin: 0.4em 0;
}
/* 8-A) Post Details & Post List */
#post-list-section {
margin: 2em 5em;
}
#post-details-lc-section {
gap: 1em;
margin: 1em 0;
}
#post-content-section {
padding: 0 2em;
margin: 0.2em 0;
}
.post-content {
line-height: 2.8rem;
padding: 0.5em;
margin: 0.2em;
height: auto;
}
.post-title {
margin: 0.5em 0;
text-align: center;
}
#post-details-edit-section {
margin: 0.5em 0em;
padding: 1.5em 4em;
}
.post-delete-btn,
.post-edit-btn  {
padding: 0.2em;
}
/* 8-B) Post Create */
.post-create-form{
margin: 0 2em;
}
/* 8-C) Post Edit Page */
.post-edit-page-info {
line-height: 4rem;
}
#post-edit-page-section {
margin: 2em 6em;
}
.post-being-edited{
padding: 1em 0;
}
/* 8-D) Post Pagination */
#pagination-section {
padding: 2em;
}
.first-page,
.last-page,
.previous-page,
.next-page{
margin: 1.5em 0;
}
/* 8-E) Post Comments */
.post-comment-content {
line-height: 4rem;
}
/* 9) Header (Logged-Out) */
#header-section-login {
padding: 0.7em 0;
}
/* 10) Signup */
#signup-section {
margin: 0.3em 1em;
}
#signup-section form{
gap: 1.1em;
margin: 0.2em 10em;
}
.signup-btn {
margin: 0.2em 4em;
}
/* 11) Login */
.login-section-container {
margin: 2em 0em;
}
#login-section {
margin: 0 6em;
}
.login-form{
gap: 3em;
}
.login-header {
margin: 0.5em 0;
}
.login-form-password,
.login-form-username {
margin: 0 5em;
}
.login-btn {
width: auto;
padding: 0.5em 2em;
margin: 0;
}
/* 12) Password Reset */
#password-reset-section {
margin: 3em 0;
}
#password-reset-section form {
margin: 1em 10em;
gap: 3em;
}
/* 13) Footer */
.social-links {
gap: 4em;
}
.social-list-item {
padding:1em;
}
}
