/* File: styles.css */

/* Targeted Screen Size: Global (Desktop/Default), no media queries */

/* Used CSS Attributes: Any   */


/* Global */
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* 1) Header (Logged-In) */
#header-section {
justify-content: space-between;
align-items: center;
padding: 0.3em 0.5em;
border-bottom: 1px solid;
}
.navbar-list {
justify-content: space-between;
}
.navbar-list,
.navbar-list-item,
.navbar-list-item-stack {
align-items: center;
}
#navbar-link-stack-icon-search {
position: absolute;
top: 0.07em;
right: -0.05em;
}
#navbar-link-stack-icon-user {
position: relative;
top: 0.05em;
left: -0.05em;
}
.navbar-signout-btn {
padding: 0.2em;
border: none;
}
/* 2) User Profile */
#user-profile-details-section {
margin: 0 35em;
filter: drop-shadow(0px 1px 4px rgb(43, 151, 246));
background-color: white;
background-clip: text;
}
.user-profile-details {
gap: 1.5em;
padding: 0.8em;
}
.profile-detail-bio-label,
.profile-detail-gender-label,
.profile-detail-profession-label {
font-weight: 700;
}
.profile-detail-header {
letter-spacing: 0.02em;
margin-bottom:0.5em;
padding:0;
}
.dropdown-menu {
display: none;
position: absolute;
background-color: white;
min-width: 150px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
}
.dropdown-menu a {
display: block;
color: black;
padding: 12px 16px;
}
.dropdown-menu a:hover {
background-color: #ddd;
}
.edit-pencil,
.edit-pencil-bio {
color:rgb(0, 47, 255);
}
.edit-pencil {
float:right;
}
#user-profile-images-section {
position: relative;
margin-bottom: 2em;
}
.profile-image {
position: absolute;
top: 49%;
left: 50%;
transform: translate(-50%, -50%);
border: 2px solid #0ae967;
z-index: 1;
}
.profile-banner {
border-right: 1px solid;
border-left: 1px solid;
border-bottom: 1px solid;
color:black;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
z-index: -1;
}
#user-profile-delete-and-send-friend-section {
align-items: center;
margin: 2em 0em;
}
.delete-user-btn,
.add-friend-btn {
padding: 0.5em;
border-radius: 5%;
}
.delete-user-btn{
border: 2px dashed;
border-color: red;
}
/* 3) User Feed */
#user-feed-section{
align-items: center;
padding: 1em;
}
#user-feed-header-section {
justify-content: space-between;
align-items: center;
width: 30%;
}
.user-feed-profile-image {
border: 1px solid #000000;
}
/* 4) User Search */
#user-search-section{
margin: 10em 30em;
padding: 1em 2em;
}
.user-search-header {
margin: 0.5em 0;
}
#user-search-results {
margin: 2em 5em;
padding: 2em;
gap: 4em;
}
#user-search-results a {
padding: 0.5em;
border: 1px rgb(10, 6, 255) dashed;
}
/* 5) User Delete */
#user-deletion-section {
align-items: center;
margin: 5em 30em;
padding: 5em;
gap: 4em;
}
#user-deletion-form {
align-items: center;
}
.user-deletion-yes-btn{
background-color: red;
outline: dashed red 4px;
}
.user-deletion-no-btn{
outline: dashed green 2px;
margin-bottom: 5em;
}
/* 6) Friend List */
#friend-list-section {
gap: 2em;
padding: 1em 8em;
margin: 2em 35em;
}
.friend-request-header {
filter: drop-shadow(0px 2px 2px rgb(0, 196, 245));
background-color: rgb(21, 63, 201);
border-radius: 10px / 20%;
padding: 0.5em;
margin:0.5em 0;
}
.friend-no-requests-text {
padding: 0.5em 0;
outline: red 2px solid;
}
#friendship-section {
align-items: center;
gap: 0.8em;
padding: 1em;
outline: 1px dotted purple;
}
.friend-name {
line-height: 2rem;
}
/* 7) Image Upload */
#upload-profile-images-section {
align-items: center;
margin: 1em 30em;
padding: 0.5em;
}
.upload-profile-images-form {
align-items: center;
gap: 2em;
margin: 0.5em 0;
}
.upload-profile-images-form a {
word-break: break-all;
margin: 0.5em 0;
padding: 0.2em 0.5em;
outline: rgb(55, 80, 79) 2px dashed;
}
.upload-profile-images-form label {
gap: 5em;
}
.upload-profile-images-form p {
align-items: center;
margin: 0.5em 0;
padding: 0.5em;
gap: 0.5em;
outline: black 2px dotted;
}
#id_profile_image,
#id_banner_image  {
margin: 0.2em 0;
}
#uploaded-image,
#uploaded-banner {
border: 3px dashed green;
}
#uploaded-banner {
margin: 0.5em 0;
}
#upload-profile-images-save-btn {
padding: 0.5em;
background-color: green;
border-radius: 10px / 10%;
}

/* 8-A) Post Details & Post List */
#post-list-section {
gap: 2em;
margin: 1em 40em;
}
.post-details-secondary {
align-items: center;
padding: 1em;
margin: 1em 0;
border-top: 2px solid;
border-bottom: 2px solid;
border-image: linear-gradient(
to left,
#16a5be 10%,
rgb(54, 233, 9) 60%,
#16a5be 70%
) 1 2 10%;
}
#post-details-lc-section {
gap: 0.5em;
margin: 0.5em 0;
align-items: center;
}
#post-content-section {
padding: 0 2em;
margin: 0.5em 0;
}
.post-content {
text-align: start;
padding: 0.5em 0.4em;
margin: 0.5em 0;
line-height: 2.5rem;
border: 1px solid black;
}
.post-title {
font-style: italic;
margin: 0.2em 0;
}
.post-author-image {
margin: 0.5em 0;
}
#post-like-count{
margin: 0 0.5em;
}
#post-details-edit-section {
justify-content:space-between;
padding: 1em;
margin: 0;
}
.post-delete-btn,
.post-edit-btn  {
padding: 0.4em;
}
/* 8-B) Post Create */
#post-create-section {
margin: 1em 38em;
}
.post-create-form {
margin: 0 2em;
border: 3px solid;
border-color: rgb(0, 103, 199);
}
.post-create-text-content {
text-align: start;
height: 10em;
}
.post-create-text-content::placeholder {
padding: 2em 1em;
color:rgba(0, 0, 0, 0.770);
}
.post-create-title,
.post-create-text-content::placeholder {
font-style: italic;
letter-spacing: 0.02em;
line-height: 1.5em;
}
.post-create-btn {
font-style: italic;
font-weight: 700;
padding: 0.3em;
background-color: rgb(0, 103, 199);
}
/* 8-C) Post Edit Page */
.post-edit-page-info,
.post-edit-page-header {
margin: 0.5em 0;
padding: 0 0.5em;
line-height: 2.3rem;
}
#post-edit-page-section {
margin: 1em 45em;
padding: 0em;
gap: 0em;
}
.post-being-edited-details { 
align-items: center;
}
#post-being-edited-content-section {
margin: 1em 2em;
padding: 1em;
}
.post-being-edited-content {
padding: 0.2em;
border: 1px solid black;
outline: dashed rgb(4, 156, 50) 2px;
}
.post-being-edited-title {
margin: 0.2em 0;
}
.post-being-edited-author-image {
margin: 0.5em 0;
}
.post-being-edited-delete-btn {
padding: 0.3em;
margin: 0.5em 0;
outline: auto;
}
.post-being-edited-save-btn {
margin-top: 1em;
}
/* 8-D) Post Pagination */
#pagination-section {
gap: 1em;
padding: 1em;
border: 1px solid;
}
/* 8-E) Post Comments */
textarea {
resize: none;
}
#post-comment-create-section {
padding: 1em 2em;
}
.post-comment-create-btn{
margin: 1em 0;
padding: 0.4em;
}
.post-comment-create-btn:hover{
color: green;
}
.post-comment-details {
gap: 0.5em;
align-items: center;
}
.post-comment {
padding: 1em;
border-radius: 20px / 10%;
}

.post-comment-content {
text-align: start;
border-radius: 10px / 40%;
margin: 0.5em 0;
padding: 0.5em;
letter-spacing: .03rem;
line-height: 2.5rem;
border: 1px solid black;
}

/* --------|--  --|-------- --------|--  --|--------*/
/* --------|-- LOGGED-OUT SECTION --|-------- */
/* --------|--  --|-------- --------|--  --|--------*/

/* 9) Header (Logged-Out) */
#header-section-login{
padding: 0.5em;
border: 1px solid;
}

/* 10) Signup */
#signup-section {
margin: 1em 30em;
}
#signup-section form {
gap: 1em;
margin: 1em 15em;
}
.signup-btn {
margin: 0.5em 0;
}

/* 11) Login */
.login-header {
margin: 1em 0;
}
.login-form,
#login-section,
.login-container,
.login-section-container {
z-index: 50;
}
.login-section-container {
gap: 2em;
}
#login-section {
margin: 0 40em;
outline: rgb(15, 15, 81) 2px solid;
gap: 2em;
border-radius: 40px / 10%;
padding: 2em;
background-image: linear-gradient(
    to top,
    rgb(59, 166, 236, 0.70) 0%,
    rgba(10, 98, 157, 0.75) 25%,
    rgba(65, 149, 197, 0.40) 50%,
    rgba(58, 132, 182, 0.25) 75%,
    rgba(27, 123, 187, 0) 100%
  );
background-color: rgba(71, 11, 235, 0.1);
}
.login-form {
align-items: center;
margin: 0 5em;
}
.login-btn {
width: 70%;
padding: 0.5em;
margin: 0.5em 0;
}
.login-username-input,
.login-username-label,
.login-password-input,
.login-password-label{
margin: 0.5em 0;
}
.login-signup-link {
margin: 0.5em 7em;
}
.login-forgot-password-link {
margin: 0.5em 4.7em;
}
.login-image {
background-image: url('https://res.cloudinary.com/dshiciqld/image/upload/v1687685264/static/img/bg_landing_image.657e7d9aa05d.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
z-index: 5;
}
.login-image::before {
content: "";
position: absolute;
background-color: rgba(0, 0, 0, 0.7);
z-index: -5;
}
/* 12) Password Reset */
#password-reset-section {
padding: 1em;
}
#password-reset-section form{
gap: 1.5em;
margin: 1em 42em;
}
.password-reset-btn {
margin: 1em 0;
padding: 0.3em;
}
.password-reset-return-link {
margin: 2em 0;
}
/* 13) Footer */
.footer-container {
flex-direction:row-reverse;
justify-content: space-evenly;
padding: 0;
border-top: 2px solid;
border-image: linear-gradient(
  to left,
  #0059ff 10%,
  rgb(0, 255, 255) 60%,
  #0026ff 70%
) 1 2 10%;
}
.social-list-item {
padding: 0.7em;
}
.social-links {
gap: 0.4em;
}
.social-links-item-bg {
padding: 0.25em;
border: 1px solid;
background-image: linear-gradient(to top right);
transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
}
