 @import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap');


/* Global */
* {
/* outline: greenyellow 1px solid; */
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
/* background-color: rgb(159, 137, 176); */
/* color:white; */
font-family: 'Quattrocento', serif;
}

/* --- CSS GROUPS (COMMON RULES) --- */
.logged-out-header,
.landing-text,
.label-username,
.label-password,
.button-logged-out,
.input-username,
.input-password,
.signup-header,
.label-email,
.input-signup-username, 
.input-signup-email, 
.input-signup-password,
.input-signup-password-confirmation,
.text-already-registered,
.link-already-registered,
.button-signup {
text-align: center;
margin: 0.3em 0;
font-size: 1.5rem;
color:white;
}
.input-username,
.input-password,
.button-logged-out,
.button-signup{
color:black;
} 



/* --- EFFECT: HIGHLIGHT --- */ 
/* .current a,
.landing-text h2 {
filter: drop-shadow(2px 2px 2px rgba(155, 141, 13, 0.9));
background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-image: linear-gradient(to right,  rgb(11, 238, 11), rgb(145, 235, 0), rgb(17, 230, 17));
} */

/* --- EFFECT: HOVER --- */ 
.navbar a:hover,
.logotype:hover,
.post-section a:hover {
color: #05ffee;}
.newsletter-button:hover {
background-color: #05f7ff;
color: black;}
.contact-button:hover,
.social-links li a i:hover {
background: greenyellow;
color: black;}





/* -------------- CSS MAIN RULES START -------------- */

/* HEADER */
.header-container-not-logged-in {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
background-color: rgba(40, 108, 235, 0.8);
height: 3.8em;
}


.logotype,
.link-signup{
text-decoration: none;
color:white;
font-size: 1.5rem;
}

/* NAVBAR */
.navbar {
/* height: 3em; */
/* padding: 0.5em; */
/* width: 100%; */
background-color: black;
/* outline: auto; */
}
.navbar-list {
display: flex;
gap: 1em;

list-style: none;
/* flex-wrap: wrap; */
/* flex-direction: row; */
/* justify-content: space-evenly; */
}
.navbar-link {

/* font-weight: bold; */
text-decoration: none;
color:white;
}


/* LANDING (HERO) */
.landing-container {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
/* margin: 0.5em 0; */

}
.landing-image {
padding: 0;
height: auto;
width: 100%;
aspect-ratio: 2.1;
background-image: url('media/img/bg_placeholder.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.landing-image::before {
content: "";
position: absolute;
height: auto;
width: 100%;
aspect-ratio: 2.1;
background-color: rgba(0, 0, 0, 0.7);
z-index: 1;
}
.landing-content {
/* outline: auto; */
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;

padding: 0em 10em;
margin: 5em 10em;
/* background-color: rgb(0, 0, 0); */
}
.landing-text {
font-size:3rem;
z-index: 2;
}

/* LOGGED-OUT */
.logged-out-section-container {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 1em 10em;
padding: 0em;

}
.logged-out-section {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1em;
margin: 1em;
padding: 1em;
z-index: 2;
filter: drop-shadow(0px 3px 12px rgb(255, 239, 8));
border: double 0.5em transparent;
border-radius: 30px;
background-image: linear-gradient(rgb(1, 36, 82),rgb(23, 52, 90)), 
linear-gradient(to bottom,
rgba(8, 85, 201, 0.5),
rgba(238, 255, 0, 0.3),
/* rgba(185, 3, 64, 0.5), */
rgba(31, 91, 204, 0.5));
background-origin: border-box;
background-clip: padding-box, border-box;
}
.form-logged-out {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
}

/* SIGNUP */
.signup-section-container {
/* outline: 5px red dotted; */
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 2em 0em;
padding: 0em;

}
.signup-section {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1em;
margin: 1em;
padding: 3em;
z-index: 2;
filter: drop-shadow(0px 3px 12px rgb(255, 239, 8));


border: double 0.5em transparent;
border-radius: 30px;
background-image: linear-gradient(rgb(1, 36, 82),rgb(23, 52, 90)), 
linear-gradient(to bottom,
rgba(8, 85, 201, 0.5),
rgba(238, 255, 0, 0.3),

rgba(31, 91, 204, 0.5));
background-origin: border-box;
background-clip: padding-box, border-box;

}
.form-signup {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
}

/* LOGGED-IN */
/* USER FEED */
.user-feed-container {
/* outline: dotted 5px red; */
display:flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-items: center;
}
.user-feed-section {

display:flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-items: center;
}

.user-info {
/* outline: dotted 3px yellow; */
display:flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
}
/* 
.profile-image {
object-fit: contain;
height: 1em;
width: 1em;
} */

.post-section {
/* outline: dotted 20px yellow; */
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: black;
}

/* USER PROFILE */
.profile-image {
        width: 5em;
}

/* FOOTER */
.footer-container {  
display: none;
/* display: flex;
flex-direction:row-reverse;
justify-content: space-evenly;
padding: 1em 0;
border-top: 4px solid; */
}
.social-links {
display: flex;
justify-content: center;
align-items: center;
list-style: none;
gap: 0.4em;
}
.social-links a{
font-size: 3.2rem;
}
.social-list-item {
display: flex;
justify-content: center;
align-items: center;
padding:1em;
}
.social-links-item {
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
}
.social-links-item-bg{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
width: 70px;
height: 70px;
padding: 0.3em;
border-radius: 50%;
color: white;
background-color: rgb(34, 2, 214);
transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
}

/* MEDIA QUERIES */ /* MEDIA QUERIES *//* MEDIA QUERIES */ /* MEDIA QUERIES */

/* MEDIA QUERIES */ /* MEDIA QUERIES *//* MEDIA QUERIES */ /* MEDIA QUERIES */

/* MEDIA QUERIES */ /* MEDIA QUERIES *//* MEDIA QUERIES */ /* MEDIA QUERIES */

/* MEDIA QUERIES */ /* MEDIA QUERIES *//* MEDIA QUERIES */ /* MEDIA QUERIES */

/* MEDIA QUERIES */ /* MEDIA QUERIES *//* MEDIA QUERIES */ /* MEDIA QUERIES */

/* MEDIA QUERIES */ /* MEDIA QUERIES *//* MEDIA QUERIES */ /* MEDIA QUERIES */

/* MEDIA QUERIES */ /* MEDIA QUERIES *//* MEDIA QUERIES */ /* MEDIA QUERIES */

@media screen and (min-width: 0em) and (max-width: 119em){

/* HIDDEN */
.header-container {
display: none;
}

.header-container-mobile{
/* width: 100%; */
/* outline: auto; */
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: rgb(27, 105, 223);
height: 3.3em;
/* padding: 1em; */
/* gap: 3em; */
}

.navbar-mobile {
        width:100%;
        /* outline: auto; */
}

.navbar-list {
/* outline: auto; */
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-evenly;
align-items: center;

}

.navbar-list-item-mobile {
        text-decoration: none;
color:white;
}

.navbar-link-mobile {
        
        font-size: 1.2rem;
        color:white;
}

/* HEADER */
.header-container-not-logged-in {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
/* background-color: black; */
height: 3em;
}

.header-not-logged-in {
font-size: 1.4rem;

}



.landing-container {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
}
.landing-image {
height: 20em;
width: 100%;
background-size: cover;
background-position: center;
}
.landing-content {
/* outline: auto; */
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0 2em;
margin: 2em 1em;
background-color: rgb(40, 108, 235);
}

.landing-text {
font-size: 1rem;
color:white;
}

/* ---------- LOGGED-IN ----------- */

/* ---------- USER FEED ---------- */
.user-feed-container {

display:flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 2em 0;
padding: 1em;

}
.user-feed-section {
/* outline: red 5px dotted;  */
display:flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
}
.user-feed-section form{
display:flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
/* outline: red auto; */
width: 100%;
}
.user-info {
        /* outline: auto; */
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* padding: 0 5em; */
        }
/* ---------- USER PROFILE ---------- */


.profile-banner {
        width: 100%;
        aspect-ratio: 2.2;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('media/img/default_banner_picture.png');
}

.profile-header {
        font-size: 2rem;
        text-align: center;
}

.profile-info-container {
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
 
}


.profile-image {
        
        width: 8em;
        aspect-ratio: 0.7;
        background-image: url('media/img/default_profile_picture.png');
}



/* ---------- POSTS ---------- */
.author-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
}




.post-section-container{
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
}
.post-section {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: white;
}
.post-form-section {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
width:100%;
}

.post-form {
width:100%;
}

.post-text {
width:100%;
}  

.post-option-section {
outline: solid 5px yellow;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 5em;
width: 100%;
padding: 0.5em 0;
background-color:rgb(55, 232, 255);
}

.post-option-icon {
font-size: 1.5rem;
}


.post-button {
        font-size: 1.2rem;
width:100%;
}  


/* LOGGED-OUT */
.logged-out-section-container {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
/* outline: red 5px dotted; */
/* background-color: rgb(40, 108, 235); */
margin: 0 1em;
padding: 1em;
}

.logged-out-section {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
/* outline: rgb(236, 250, 35) 5px dotted; */
}

.logged-out-header,
.label-username,
.label-password {

color:white;
}

.form-logged-out {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
}

.input-username,
.input-password {
width: 100%;
/* outline: rgb(236, 250, 35) 5px dotted; */
}









}






@media screen and (min-width: 25.875em) and (max-width:119em){

}
@media screen and (min-height: 50.75em) and (max-width:119em){

}
@media screen and (min-width: 48em) and (max-width:119em){

}
@media screen and (min-width: 62em) and (max-width:119em) {

}