<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Social Network{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
   
</head>

<body>
  
  {% if user.is_authenticated %}

    <!-- ......LOGGED-IN...... -->

            <!-- NAVBAR -->
    {% include 'header_logged_in.html' %}
            <!-- .MAIN. -->
    {% block content_user_feed %}
    {% endblock content_user_feed %}
    
    <!-- Log Out button -->
    <form method="post" action="{% url 'logout_view' %}">
      {% csrf_token %}
      <button type="submit">Log Out</button>
    </form>

{% else %}


    <!-- ......LOGGED-OUT......  -->

            <!-- NAVBAR -->
    {% include 'header_not_logged_in.html' %}
            <!-- .MAIN. -->
    <main class="main-not-logged-in">
      {% block content_login  %}
      {% endblock content_login  %}
      {% block content_signup  %}
      {% endblock content_signup  %}
    </main>


{% endif %}
  
 
  
 
  
  <footer>
    {% include 'footer.html' %}
  </footer>

  <!-- Add your JS and other required assets here -->
</body>
</html>
