<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Social Network{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
   
</head>

<body>
  
  {% if user.is_authenticated %}
    <!-- Navigation links for authenticated users -->
    {% comment %} {% include 'nav_logged_in.html' %} {% endcomment %}

    <!-- Log Out button for authenticated users -->
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">Log Out</button>
    </form>
{% else %}
    <!-- Navigation links for unauthenticated users -->
    {% include 'nav.html' %}
{% endif %}
  
  <header>
    
  </header>
  
  <main class="main-content">
    {% comment %} {% include 'show_posts.html' %} {% endcomment %}
  </main>
  
  <footer>
    {% include 'footer.html' %}
  </footer>

  <!-- Add your JS and other required assets here -->
</body>
</html>
