<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Social Network</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" integrity="sha512-cyzxRvewl+FOKTtpBzYjW6x6IAYUCZy3sGP40hn+DQkqeluGRCax7qztK2ImL64SA+C7kVWdLI6wvdlStawhyw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    
</head>

<body>
  <!-- File: base.html -->
  
  {% if user.is_authenticated %}
    <!-- ......LOGGED-IN...... -->

            
            <!-- .MAIN. -->
         
            {% block content_post_details_page %}
            {% endblock content_post_details_page %}
      
            {% block content_user_feed  %}
            {% endblock content_user_feed  %}

            {% block content_user_profile  %}
            {% endblock content_user_profile  %}
            
            {% block content_user_profile_image %}
            {% endblock content_user_profile_image %}
            


           
    

    <!-- Log Out button -->
    <form method="post" action="{% url 'signup' %}">
      {% csrf_token %}
      <button type="submit">Log Out</button>
    </form>

{% else %}


    <!-- ......LOGGED-OUT......  -->

            <!-- NAVBAR -->
    {% include 'header_not_logged_in.html' %}
            <!-- .MAIN. -->
    
      {% block content_login  %}
      {% endblock content_login  %}
      {% block content_signup  %}
      {% endblock content_signup  %}



{% endif %}
  
 
  
 
  
  <footer>
    {% include 'footer.html' %}
  </footer>
 
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" 
integrity="sha512-6lplKUSl86rUVprDIjiW8DuOniNX8UDoRATqZSds/7t6zCQZfaCe3e5zcGaQwxa8Kpn5RTM9Fvl3X2lLV4grPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="module" src="{% static 'js/script.js' %}"></script>


 </body>
</html>
