{% extends 'base.html' %}

{% load static %}

{% block content_login %}

    {% include 'header_logged_out.html' %}

    <section class="login-container">
        <div class="login-image">
    
    
            <div class="login-section-container">
                <h1 class="login-welcome-text">Welcome to Socialize!</h1>
                <section id="login-section">
             
                    <form class="login-form" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                       <div class="login-form-username">
                        <label class="login-username-label" for="username">Username:</label>
                        <input  class="login-username-input" type="text" name="username" required>
                        </div>
                        <div class="login-form-password">
                        <label class="login-password-label" for="password">Password:</label>
                        <input class="login-password-input" type="password" name="password" required>
                        </div>
                        <button class="login-btn" type="submit">Login</button>
                    </form>
                   
                    <a class="login-forgot-password-link" href="{% url 'password_reset' %}">Forgot password?</a>       
                    <a class="login-signup-link" href="{% url 'signup' %}">Sign Up</a>
        
                </section>
            </div>
        </div>
    </section>
{% include 'footer.html' %}
{% endblock content_login %}
