<!-- File: login.html -->
{% extends 'base.html' %}

{% load static %}

{% block content_login %}


<header>

{% block header_logged_out %}
{% endblock header_logged_out %}

</header>

<section class="landing-container">
<div class="landing-image" >
  <div class="landing-content">
  <h1 class="landing-text">Join millions of social beings!</h1>
  
</div>



<div class="logged-out-section-container">
  <section class="logged-out-section">
    <h1 class="logged-out-header">Welcome!</h1>
  
    <form class="form-logged-out" method="post" action="">
      {% csrf_token %}
      
      <label class="label-username" for="username">Username:</label>
      <input type="text" name="username" class="input-username" required>
    
      <label class="label-password" for="password">Password:</label>
      <input type="password" name="password" class="input-password" required>
    

      <button class="button-logged-out" type="submit">Log In</button>
    
    </form>
    <p class="text-not-registered">No account? Sign up here!</p> 
    <a class="link-signup" href="{% url 'signup' %}">Sign Up</a>

  </section>
  </div>


</div>
</section>



  {% endblock content_login %}