<!-- File: post_edit_page.html -->
{% extends 'base.html' %}

{% block content_post_edit_page %}
  {% include 'header_logged_in.html' %}

  <section id="post-edit-page-section">
    <h2 class="post-edit-page-header">Editing post with id {{ post.pk }}</h2>
    <p class="post-edit-page-info">You may edit your post's content or delete the entire post.</p>

    <div class="post-being-edited">
      <!-- POST - DELETE BUTTON -->
      <form class="post-delete-form" method="post" action="{% url 'post_delete' pk=post.pk %}">
        {% csrf_token %}
        <button class="post-being-edited-delete-btn fa fa-trash" type="submit"></button>
      </form>

      <div class="post-being-edited-details">
        <p class="post-being-edited-author">{{ post.get_post_author_name }}</p>
        <img class="post-being-edited-author-image" src="{{ post.author_profile_image }}" alt="Author Profile Image">
        <p class="post-being-edited-time">{{ post.post_created_at }}</p>

        <section id="post-being-edited-content-section">
          <h2 class="post-being-edited-title" name="post_title">{{ post.post_title }}</h2>

          <form method="post" action="{% url 'post_edit_save' pk=post.pk %}">
            {% csrf_token %}
            {% comment %} Input field for editing post content {% endcomment %}
            <textarea class="post-being-edited-content" name="post_content" rows="6">{{ post.post_content }}</textarea>
            <button class="post-being-edited-save-btn" type="submit">Save Edits</button>
          </form>
        </section>
      </div>
    </div>
  </section>
{% endblock content_post_edit_page %}
