{% block content_post_remove %}

<div class="post-remove-modal" id="post-remove-modal-{{ post.id }}" style="display:none;">

  {% if user == post.author %}
  <p>Are you sure you want to remove this post?</p>
  <button class="btn-remove-post-{{ post.id }}">"Remove Post"</button>
  <i class="fas fa-times"></i>
  <button class="btn-post-remove-confirm-btn" data-post-id="{{ post.id }}">Yes</button>
  <button class="btn-post-remove-cancel-btn">No</button>    
  

</div>
  {% endif %}
{% endblock content_post_remove %}
