

{% block content_post_details %}


<!-- POSTS -->


<section class="post-section-container">


  <div class="post-section">

    <article class="post">

<!-- POST DETAILS -->
      <!-- POST-AUTHOR -->

    <div class="post-author-details">
      <div class="post-author-header">
        <div class="post-author-header-main">
        
      <!-- POST-AUTHOR - IMAGE -->
      
        {% if post.author.profile.profile_image %}
        <img class="post-author-image" src="{{ post.author.profile.profile_image.url }}" alt="{{ post.author.get_full_name }}">
      {% else %}
        <img class="post-author-image" src="/media/img/default_profile_image.png" alt="{{ post.author.get_full_name }}">
      {% endif %}

      <!-- POST-AUTHOR - NAME -->
      <h2 class="post-author-name">{{ post.author.get_full_name }}</h2>
      <!-- POSTS - TIME OF CREATION -->
      <span class="post-time">{{ post.time_since_posted }}</span>
    </div>

         <!-- POST - REMOVE BUTTON -->
         <div class="remove-post-section">
      {% if request.user == post.author %}
      <form method="POST" action="{% url 'post_remove' post.id %}">
        {% csrf_token %}
        <button class="remove-post-btn" title="Remove Post" type="submit">
          <i class="fas fa-times"></i>
        </button>
        
      </form>

      {% endif %}
        </div>

      </div>


      <!-- POSTS - CONTENT -->
      <!-- <div class="post-content">
        <p class="post-text">{{ post.content|safe }}</p>
      </div>  
      <button class="btn-show-more">Show More</button> -->
    
    </div>

      {% if post.image %}
      <!-- POST -->
      <img class="post-image" src="{{ post.image.url }}" alt="Post Image 1">
      {% endif %}
      


    </article>

 

 <!-- ------- INCLUDE POST CREATION ------- -->
<!-- WORKING GOOD  -->
  {% include 'post_create.html' %}
  
  
  <!-- ------- INCLUDE COMMENTS ------- -->
  

  
  <!-- ------- INCLUDE LIST OF COMMENTS ------- -->
  

  
  
  <!-- ------- INCLUDE LIKES ------- -->
  
  

  
  
</div>

</section>




{% endblock content_post_details %}
