{% block content_post_comment %}
<div class="post-comment-container" data-post-id="{{ post.id }}" >


<div class="post-comment-input-container">

    <button class="btn-toggle-comment" data-post-id="{{ post.id }}" type="submit" >Show Comments</button>
    
    <i class="fas fa-comments" data-post-id="{{ post.id }}"></i>
    <span>({{ post.comments.all.count }})</span>


    <!-- COMMENT INPUT-->
    <form class="post-comment-form" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input class="post-comment-input" type="text" name="content" placeholder="Write a comment..." required>
        <button class="post-comment-submit-btn" type="submit">Submit</button>
    </form>
</div>
<!-- Debugging output: -->
{% if post_id %}
    <p>post_id: {{ post_id }}</p>
{% else %}
    <p>post_id is empty!</p>
{% endif %}



{% endblock content_post_comment %}
