{% load static %}

{% block content_post_list %}

<!-- POSTS SECTION -->

{% for post in posts %}

<section class="post-section-container">

 

  
  <div class="post-section">

    <article class="post">

      <!-- POST-AUTHOR -->
    <div class="post-author-details">
      <div class="post-author-header">
        <div class="post-author-header-main">
        
      <!-- AUTHOR - IMAGE -->
        {% if post.author.profile.profile_image %}
        <img class="post-author-image" src="{{ post.author.profile.profile_image.url }}" alt="{{ post.author.get_full_name }}">
      {% else %}
        <img class="post-author-image" src="/media/img/default_profile_image.png" alt="{{ post.author.get_full_name }}">
      {% endif %}

      <!-- AUTHOR - NAME -->
      <h2 class="post-author-name">{{ post.author.get_full_name }}</h2>
      <!-- POSTS - TIME OF CREATION -->
      <span class="post-time">{{ post.time_since_posted }}</span>
    </div>

         <!-- POST - REMOVE BUTTON -->
         <div class="remove-post-section">
      {% if request.user == post.author %}
      <form method="POST" action="{% url 'post_remove' post.id %}">
        {% csrf_token %}
        <button class="remove-post-btn" title="Remove Post" type="submit">
          <i class="fas fa-times"></i>
        </button>
        
      </form>

      {% endif %}
        </div>

      </div>


      <!-- POSTS - CONTENT -->
      <div class="post-content">
        <p class="post-text">{{ post.content|safe }}</p>
      </div>  
      <button class="btn-show-more">Show More</button>
    
    </div>

      {% if post.image %}
      <!-- POST -->
      <img class="post-image" src="{{ post.image.url }}" alt="Post Image 1">
      {% endif %}
      
      {% include 'post_comment.html' with post=post %}

    </article>

  </div>
</section>

{% endfor %}


<!-- PAGINATION -->
<div class="pagination">
  <span class="step-links">
    {% if posts.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ posts.previous_page_number }}">previous</a>
    {% endif %}

    <!-- <span class="current">
      Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
    </span> -->

    {% if posts.has_next %}
      <a href="?page={{ posts.next_page_number }}">next</a>
      <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>

{% endblock content_post_list %}
