

{% block content_post_details %}



<!-- POST DETAILS -->

<section class="post-details-section">
  <div class="post-details">
     
    
    <div class="post">
    
     <!-- POST DETAILS -->
     <h3 class="post-author">{{ post.author.get_full_name }}</h3>
     {% if post.author.profile.profile_image_url %}
     <img class="post-author-image" src="{{ post.author.profile.profile_image_url }}" alt="{{ post.author.get_full_name }}">
     {% else %}
     <img class="post-author-image" src="/media/img/default_profile_image.png" alt="{{ post.author.get_full_name }}">
     {% endif %}
     <p class="post-content">{{ post.content }}</p>
     <p class="post-date">{{ post.time_since_posted }}</p>
 
     <!-- POST-REMOVAL BUTTON-->
     {% include 'post_remove.html' %} 
    
    </div>
  </div>
</section>


{% endblock content_post_details %}
