<!-- File: post_details.html -->

<div class="post-wrapper">
<div class="post">

  <section id="post-edit-section">
      
      <form class="post-delete-form" method="post" action="{% url 'post_delete' pk=post.pk %}">
        {% csrf_token %}
        <button class="post-delete-btn fa fa-trash" type="submit"></button>
      </form>
    

    <form method="post" action="{% url 'post_details_page' pk=post.pk %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="post-edit-btn fas fa-pencil-alt" type="submit"></button>
    </form>

  </section>

    <div class="post-details">
      <div class="post-details-secondary">
        <p class="post-author">{{ post.get_post_author_name }}</p>
        
        {% if user.profile.profile_image  %}
        <img class="post-author-image" src="{{ user.profile.profile_image.url }}" alt="{{ post.get_post_author_name }}'s profile image">
        {% else %}
        <img class="post-author-image" src="/media/img/default_profile_image.png" alt="{{ post.get_post_author_name }}'s profile image">
        {% endif %}
        
        <p class="post-time">{{ post.post_created_at }}</p>
      </div>

      <section id="post-content-section">
        <h2 class="post-title" name="post_title">{{ post.post_title }}</h2>
        <textarea class="post-content" name="post_content">{{ post.post_content }}</textarea>
      </section>



      <section id="post-details-lc-section">
        <span id="post-like-count" class="fas fa-thumbs-up">{{ post.post_likes.count }}</span>
        <form id="post-like-form" method="post" action="{% url 'toggle_like' pk=post.pk %}">
          {% csrf_token %}
          <button id="post-like-button" class="post-like-button" data-post-id="{{ post.pk }}" type="submit">
            {% if post.is_liked_by_user %}
            Unlike
            {% else %}
            Like
            {% endif %}
          </button>
        </form>
      </section>
    </div>

    <section id="comment-create-section">
    <form method="post" action="{% url 'post_comment_create' pk=post.pk %}">
      {% csrf_token %}

    <textarea id="comment-content" rows="3" name="comment_content"></textarea>

      <button type="submit" class="comment-create-btn">Submit Comment</button>
    </form>
  </section>


  </div>
</div>

