

{% block content_post_details %}



<!-- POST DETAILS -->

<section class="post-details-section-container">

  <div class="post-details-section">

    <article class="post-details">
     

      <!-- POST-AUTHOR - NAME -->
      <h2 class="post-details-author-name">{{ post.author.get_full_name }}</h2>
      <!-- POSTS - TIME OF CREATION -->
      <span class="post-details-time">{{ post.time_since_posted }}</span>
    </div>

         <!-- POST - REMOVE BUTTON -->
         <div class="remove-post-section">
      {% if request.user == post.author %}
      <form method="POST" action="{% url 'post_remove' post.id %}">
        {% csrf_token %}
        <button class="remove-post-btn" title="Remove Post" type="submit">
          <i class="fas fa-times"></i>
        </button>
        
      </form>

      {% endif %}
        </div>

      </div>



    </article>

 

 <!-- ------- INCLUDE POST CREATION ------- -->
<!-- WORKING GOOD  -->
  {% include 'post_create.html' %}
  
  
  <!-- ------- INCLUDE COMMENTS ------- -->
  

  
  <!-- ------- INCLUDE LIST OF COMMENTS ------- -->
  

  
  
  <!-- ------- INCLUDE LIKES ------- -->
  
  

  
  
</div>

</section>




{% endblock content_post_details %}
