<!-- File: signup.html -->
{% extends 'base.html' %}

{% block content_signup %}




{% block header_logged_out %}
{% endblock header_logged_out %}



<section class="landing-container">
  <div class="landing-image" >
    
    


<div class="signup-section-container">
  <section class="signup-section">
    <h1 class="signup-header">Sign Up</h1>
  
    <form class="form-signup" method="post">
      {% csrf_token %}
      
      <label class="label-username" for="username">Username:</label>
      <input type="text" name="username" class="input-signup-username" required>
    
      <label class="label-email" for="email">Email:</label>
      <input type="email" name="email" class="input-signup-email" required>
    
      <label class="label-password" for="password1">Password:</label>
      <input type="password" name="password1" class="input-signup-password" required>
    
      <label class="label-password" for="password2">Confirm Password:</label>
      <input type="password" name="password2" class="input-signup-password-confirmation" required>

      <button class="button-signup" type="submit">Sign Up</button>
    
    </form>

    <p class="text-already-registered">Already have an account? 
      <br>
      <a class="link-already-registered" href="{% url 'login' %}">Log In</a>
    </p>



  </section>
</div>

</section>
</div>

{% endblock content_signup %}
