<!-- File: user_profile.html -->

{% extends 'base.html' %}

{% block content_user_profile %}


{% include 'header_logged_in.html' %}
{% include 'user_profile_details.html' %}



<a href="{% url 'user_deletion_confirmation' %}">
  {% csrf_token %}
  <button type="submit">Delete Account</button>
</a>






 <!-- SEND FRIEND REQUEST (ADD FRIEND) -->
    {% include 'send_friend_request.html' with receiver_id=receiver_id %}
  

<!-- CODE SECTION - CREATE NEW POST -->
<section id="post-create-section">
  <form class="post-create-form" method="post" action="{% url 'post_create' %}">
    {% csrf_token %}
    <label for="post_title"></label>
    <input class="post-create-title" placeholder="Post Title" type="text" id="post_title" name="post_title" required>
    <label for="post_content"></label>
    <textarea class="post-create-text" name="post_content" placeholder="How are you feeling today, {{ user.first_name }}?" required></textarea>
    <button type="submit" class="post-create-btn">Create Post</button>
  </form>
</section>

{% endblock content_user_profile %}


<!-- DISPLAY POSTS -->
{% block content_post_section %}
    {% for post in all_posts %}
        {% if post.post_author == user %}
      {% include 'post_list.html' with post=post all_post_comments=all_post_comments author_profile_image=post.post_author.profile.profile_image.url %}
        {% endif %}
    {% endfor %}
{% endblock content_post_section %}
