{% extends 'base.html' %}

{% load static %}


{% block content_user_feed %}

<!-- USER FEED -->
<div class="user-feed-container">

  <section class="user-feed-section">

    <div class="user-feed-header-section">

      {% if user.profile.profile_image %}
        <img class="user-feed-profile-image" src="{{ user.profile.profile_image.url }}" alt="{{ user.first_name }} {{ user.last_name }}'s profile image">
      {% else %}
        <img class="user-feed-profile-image" src="/media/img/default_profile_image.png" alt="{{ user.first_name }} {{ user.last_name }}'s profile image">
      {% endif %}
      <p class="user-feed-current-date">{% now "F j, Y" %}</p>
      {% include 'post_details.html' %}
      
    
    </div>

    {% include 'post_create.html' %}
    {% include 'post_list.html' %}



  </section>
</div>


{% endblock content_user_feed %}


