@import 'resets';
@import 'config';
@import 'navbar';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  body {
    background-color: rgb(255, 255, 255);
    font-family: $font-1;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
  }

.header-container {
  display:flex;
  width: 100%;
  height: 100px;
  margin: 0;
  padding:0;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(20, 116, 172);
}
.logotype{
color:#ffffff;
text-decoration: unset;
font-size:5rem;
margin:10px;
padding-left: 20px;
}

// LANDING CONTAINER
.landing-container {
  // outline: 10px solid greenyellow;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 80vh;
  top: 0;
  left: 0;
  background-color: black;
  margin: 0;
  padding: 0;
  
}
//------------------------------ LEFT CONTAINER ------------------------------
.landing-container-left {
  
}
.landing-container-left img {
  flex-basis: 50%;
  margin: 0;
  padding: 0;
  transform: rotateY(180deg);
 }
.landing-overlay-left {
  position: absolute;
  top: 5%;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0,0,0,0.5);
}
h2{
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 300;
  font-size: 6.5rem;
  color:white;
}
// .form-register-left {


 //------------------------------ RIGHT CONTAINER ------------------------------
 .landing-container-right{
  
 }
 .landing-container-right img {
  flex-basis: 50%;
  margin: 0;
  padding: 0;
  
 }
 .landing-overlay-right {
  
  // display:none;
  position: absolute;
  top: 5%;
  left: 50%;
  width: 50%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0,0,0,0.5);
}
h3{
  position: absolute;
  top: 30%;
  left: 60%;
  z-index: 300;
  font-size: 6.5rem;
  color:white;
 }


// NAVBAR 
.navbar {
display: flex;
width: 55%;
height: 100%;
position: relative;
left: 0px;
top: 10px;
margin: 0;
padding: 0;

}

.navbar ul {
display: flex;
justify-content: space-between;
list-style: none;

}
.navbar a {
color:#ffffff;
font-size: 3.7rem;
text-transform: uppercase;
text-decoration: unset;
margin: 0 10px;
padding: 5px;
}
 
// .social-icons {
//   display: none;
// }
  